body {
  padding-top: 5vh;
  background-image: url("../img/bg_calcularoda_instagram.png");
  background-size: cover;
  background-attachment: fixed;
  /* background-position-y: -70px;*/
}

h1 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
  color: #fff;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 420px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  background-color: #833ab4;
  border-radius: 12px;
  box-shadow: 0 0 10px #fff;
}

#resultado {
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#taxa {
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

div.container input::-webkit-inner-spin-button { /*Retira as setas dos inputs*/
  display: none;
}

#calcular {
  background-color: #E1306C;
  border: none;
  padding-bottom: 10px;
  box-shadow: 0 0 10px #fff;
}

#limparCampos {
  background-color: #F77737;
  border: none;  
  box-shadow: 0 0 10px #fff;  
}

.label-form {
  color: #fff;
}

.footer_raio {
  color: #fff;
  font-weight: bold;
  text-align: center;
}